{% extends 'layout/app-layout.html' %}

{% block 'content' %}
<br><br><br><br><br>
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Error</h5>
        
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
           <h6 style="color:#555555"> {{error_message}}</h6>
      </div>
      <div class="modal-footer">
        <a class="nav-link  " href="{% url 'list'%}"> OK</a> 
      </div>
      </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      $('#myModal').modal('show');
    });
  </script>
  {% endblock %}
