<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title></title>
    <style>
      body {
        background-image: url("{% static 'image2.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;}
      </style>
    
   
</head>
<body  >

    
  {% include 'partials/navbar.html' %}

  {% if user.is_authenticated %}

  <br><br><br>
    <h4 style="text-align:center;color:#000000">You are currently logged in as {{ user.username }}.</h4>
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger"style="margin-left:700px;">Log Out</button>
    </form>
  {% else %}
    <p>You are not currently logged in.</p>
  {% endif %}
  </body>
  </html>